* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100vh;
  /* position: fixed; */
  /* overflow-y: scroll; */
  /* -webkit-overflow-scrolling: touch; */
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(29, 17, 83, 0.3),
    rgba(38, 35, 50, 0.3)
  );
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav {
  position: absolute;
  top: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.logo {
  width: 80px;
}

/* nav a {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.content {
    text-align: center;
} */

nav h1 {
  font-size: 80px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
  margin-top: 100px;
}

nav h1:hover {
  -webkit-text-stroke: 0.2px #fff;
  color: transparent;
}

.content {
  text-align: center;
  flex-direction: row;
  margin-bottom: 200px;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  text-align: center;
  margin-top: 500px;
  margin-bottom: 50px;
}

.construction {
  font-size: 30px;
  color: #fff;
  font-weight: 100;
}

.hero-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
}

@media (max-aspect-ratio: 16/9) {
  .hero-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 768px) {
  /* Styles for tablet-sized screens */
  .hero {
    padding: 0 10%;
  }

  nav {
    padding: 20px 5%;
  }

  nav h1 {
    font-size: 60px;
  }

  .content a {
    padding: 14px 40px;
    margin-top: 700px;
    /* margin-bottom: 20px; */
  }
  .content p {
    font-size: large;
  }

  .hero-video {
    left: 0px;
  }
}

@media (max-width: 480px) {
  /* Styles for phone-sized screens */
  .hero {
    padding: 0 8%;
  }

  nav {
    padding: 20px 3%;
  }

  nav h1 {
    font-size: 40px;
  }

  .content a {
    padding: 10px 30px;
    margin-top: 600px;
    /* margin-bottom: 10px; */
    font-size: 18px;
  }

  .content p {
    /* margin-top: 10px; */
    font-size: large;
  }

  .hero-video {
    left: -175px;
  }
}
